<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <arg name="group" default="A"/>
  <arg name="nbr_robot" default="3"/>
  <arg name="env" default="lev1"/>

  <param name="/use_sim_time" value="true" />

  <!-- start world -->
  <param name="use_sim_time" value="true" />
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find evry_project_description)/worlds/$(arg env).world"/>
    <arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="headless" value="false"/>
		<arg name="debug" value="false"/>
	</include>

  <param name="robot" command="xacro --inorder '$(find evry_project_description)/urdf/robot.xacro'"/>

    <!-- ROBOT 1 -->
	  <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
	   args="-urdf -param /robot -x -14 -y -5 -z 0 -model robot_$(arg group)1" ns="group_$(arg group)/robot_1"
     if="$(eval arg('nbr_robot') > 0)"/>

     <!-- ROBOT 2 -->
     <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param /robot -x -14 -y 0 -z 0 -model robot_$(arg group)2" ns="group_$(arg group)/robot_2"
      if="$(eval arg('nbr_robot') > 1)"/>

      <!-- ROBOT 3 -->
      <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
       args="-urdf -param /robot -x -14 -y 5 -z 0 -model robot_$(arg group)3" ns="group_$(arg group)/robot_3"
       if="$(eval arg('nbr_robot') > 2)"/>


</launch>
